{% extends "base.html.twig" %}
{% block body %}

<div class="container">
 {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

    <h1 class="mt-4">modification de l'ingredient</h1>
{{form(form)}}
</div>
{% endblock %}