{% extends "base.html.twig" %} 
{% block title %}SYMRECIPE - ACCUEIL{% endblock %}
{% block body %} 
<div class="container mt-4" >
<div class="jumbotron">
  <h1 class="display-4">Bienvenue</h1>
  <p class="lead">C'est une application qui va te permettre de créer des recettes a base d'ingredients que tu aurqs toi-meme créer</p>
  <hr class="my-4">
  <p>Pour commencer rdv sur la page d'inscription pout utiliser l'application</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Incription</a>
  </p>
</div>
</div>
{% endblock %}
